
<div class='main'>

       <% if user_signed_in? %>
         <div class="sign-up"> 
         <%= link_to  "#{current_user.nickname}" , class: "user-nickname" %>
         </div>
         <div class="log_out">
         <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout"  %>
         </div> 
       <% else %>
         <div class="log_in">
         <%= link_to 'Login', new_user_session_path, class: "log_out" %>
         </div>
         <div class="sign_up">
         <%= link_to '新規登録', new_user_registration_path, class: "signup" %>
         </div>
      <% end %>
 

   <div class='title-contents'>
     <h2 class='service-title'>
     </h2>
      <p class='service-explain'>
      </p>
     <p class='service-explain'>
     </p>
     <%= render "other/logo" %>

     <div class='gnav'>
      <li><%= link_to 'Category', "#", class: "category-list" %></li> 
      <li><%= link_to 'Brand', "#", class: "brand-list" %></li>
      <li><%= link_to 'Mens', "#", class: "brand-list" %></li>
      <li><%= link_to 'Women', "#", class: "brand-list" %></li>
      <li><%= link_to 'Allitems', "#", class: "brand-list" %></li>
     </div>
   </div>

  <div class="sell_btn">
    <%= link_to new_product_path, class: 'purchase-btn' do %>
    出品する<br>
    sell page
    <%end%>
  </div>

    <div class="newitems">New Items</div>
      <div class="product">
        <div class="productBox">
             <%= image_tag "DSC02062.JPG", class:"list-pict" %>
          <span class="productName">90's coach jacket</span>
           <span class="price">¥10,000</span>
        </div>
        <div class="productBox">
            <%= image_tag "DSC02114.JPG", class:"list-pict" %>
          <span class="productName">monotone T shirt</span>
           <span class="price">¥10,000</span>
        </div>
        <div class="productBox">
             <%= image_tag "DSC02129.JPG", class:"list-pict" %> 
          <span class="productName">80's euro used denim</span>
           <span class="price">¥10,000</span>
        </div>
      </div>

      <div class="product">
        <div class="productBox">
         <%= image_tag "DSC02071.JPG", class:"list-pict" %>
          <span class="productName">oxford shirt</span>
           <span class="price">¥10,000</span>
        </div>
        <div class="productBox">
         <%= image_tag "DSC02184.JPG", class:"list-pict" %> 
          <span class="productName">cut design knit　</span>
           <span class="price">¥10,000</span>
        </div>
        <div class="productBox">
         <%= image_tag "DSC02144.JPG", class:"list-pict" %>  
          <span class="productName">indigo cardigan</span>
           <span class="price">¥10,000</span>
      </div>
     </div> 

      <ul class='item-lists'>
      <% @products.each do |i| %>
       <li class='list'>
        <%= link_to  product_path(i.id) do %>
         <div class='item-img-content'>
          <%= image_tag i.image, class: "list-pict" %>

          <%if i.soldout.present?%>
            <div class='sold-out'>
            <span>Sold Out</span>
           </div> 
          <%end%>

          </div>
          <div class='item-info'>
           <%# <div class='item-name'> %>
            <span class="productName"><%=i.name %></span>
            <%# <%=i.name %> 
           <%# </div> %>
           <div class='item-price'>
           <span class="price">¥<%=i.price%></span><br>
            <div class='star-btn'>
              <span class='star-count'>✩</span>
            </div>
           </div>
          </div>
          <%# end %>
         </li>
        <% end %>
      <% end %>
     </ul>
   </div>
 </div>

   <footer>
        <div class="bland">
          <div class="title">BLAND</div>
          <ul class="bland-list">  
              <li>anies.be</li> 
              <li>APCD</li>
              <li>aroows</li>
              <li>baburea</li>
              <li>e_boack</li>
              <li>Dr.marchan</li>
              <li>Fradparry</li>
              <li>gutstime</li>
              <li>giyuw</li>
              <li>H&A</li>
              <li>Ibaun</li>
              <li>japana</li>
              <li>Kidsan</li>
              <li>LLbaun</li>
              <li>Lee'vises</li>
              <li>Musiamnaw</li>
              <li>Newere</li>
              <li>oashis</li>
              <li>Radwink</li>
              <li>smitsmiths</li>
              <li>unicre</li>
              <li>vons</li>
              <li>zana</li>
              <li>and more...</li>
          </ul>
        </div>
         <div class="ft-menu">
          <div class="title">お支払い方法</div>
          <div class="title">配送方法・送料について</div>
          <div class="title">出品に関する規約</div>
           <div class="title">プライバシーポリシー</div>
        </div>
      
      
      
  </footer>

 <%# <%= link_to"出品", new_product_path, class: 'purchase-btn' %> 
       Copyright (C)goodlifestandard All Rights Reserved.