
<%= render "other/logo" %>

<div class="item-show">
  <div class="item-box">
 
    <div class="item-img-content">
      <%= image_tag @product.image ,class:"item-box-img" %>

      <% if @product.soldout.present? %>
        <div class="sold-out">
        <span>Sold Out</span>
       </div> 
       <%end%>

    <h2 class="product-name"><%= @product.name %></h2>


    <div class="item-explain-box">
      <span><%= @product.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">Seller name</th>
          <td class="detail-value"><%= @product.user.nickname %>様</td>
        </tr>
        <tr>
          <th class="detail-item">category</th>
          <td class="detail-value"><%= @product.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">subcategories</th>
          <td class="detail-value"><%= @product.smallcategory.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @product.shipping.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @product.delivery_area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @product.delivery_date.name %></td>
        </tr>
      </tbody>
    </table>


     
  <% if user_signed_in?  && @product.soldout.blank? %>
      <%if current_user.id == @product.user_id %>
        <%= link_to "編集ページ", edit_product_path, method: :get, class: "item-red-btn" %>
         <p>※一度取り消した商品は再編集出来ませんのでご注意ください</p>
       <%= link_to "出品の取り消し", product_path(@product), method: :delete, class:"item-destroy" %>
     <% else%>
       <%= link_to "ADD TO CART",   product_neworders_path(@product), class:"item-red-btn"%>
      <% end%> 
  <%end%>


    <div class="option">
      <div class="favorite-btn">
        <%# <span>お気に入り 0</span>
      </div> %>
  
      </div> 
    </div>
  </div>

 

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>

      <button type="submit" class="comment-btn">
    
        <span>コメント<span>
      </button>
    </form>
  </div>

       <% if @product.soldout.present? %>
      <%= link_to "出品の取り消し", product_path(@product), method: :delete, class:"item-destroy" %>
       <%end%>
 
  <%# <a href="#" class="another-item"><%= @product.category.nameをもっと見る</a>  %>
  <%= link_to "TOPPAGEへ戻る", root_path, method: :get, class: "another-item" %>
</div>
 
 <%= render "other/copyright" %>