
<%= render "other/logo" %>

<div class="item-show">
  <div class="item-box">
 
    <div class="item-img-content">
      <%= image_tag @product.image ,class:"item-box-img" %>

      <% if @product.soldout.present? %>
        <div class="sold-out">
        <span>Sold Out</span>
       </div> 
       <%end%>

    <h2 class="name"><%= @product.name %></h2>


    <div class="item-explain-box">
      <span><%= @product.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">Seller name</th>
          <td class="detail-value"><%= @product.user.nickname %>様</td>
        </tr>
        <tr>
          <th class="detail-item">category</th>
          <td class="detail-value"><%= @product.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">subcategories</th>
          <td class="detail-value"><%= @product.smallcategory.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @product.shipping.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @product.delivery_area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @product.delivery_date.name %></td>
        </tr>
      </tbody>
    </table>


     
  <% if user_signed_in?  && @product.soldout.blank? %>
      <%if current_user.id == @product.user_id %>
        <%= link_to "編集ページ", edit_product_path, method: :get, class: "item-red-btn" %>
         <p>※一度取り消した商品は再編集出来ませんのでご注意ください</p>
       <%= link_to "出品の取り消し", product_path(@product), method: :delete, class:"item-destroy" %>
     <% else%>
       <%= link_to "ADD TO CART",   product_neworders_path(@product), class:"item-red-btn"%>
      <% end%> 
  <%end%>


    <div class="option">
      <div class="favorite-btn">
        <%#= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%# <span>お気に入り 0</span>
      </div> %>
      <%# <div class="report-btn">
        <%#= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <%# <span>不適切な商品の通報</span> %>
      </div> 
    </div>
  </div>

  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <%# <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p> %>
      <button type="submit" class="comment-btn">
        <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメント<span>
      </button>
    </form>
  </div>

       <% if @product.soldout.present? %>
 　　　<%= link_to "出品の取り消し", product_path(@product), method: :delete, class:"item-destroy" %>
       <%end%>
  <%# <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div> %>
 
  <%# <a href="#" class="another-item"><%= @product.category.nameをもっと見る</a>  %>
  <%= link_to "TOPPAGEへ戻る", root_path, method: :get, class: "another-item" %>
</div>
   <div class="ft-menu">
          <div class="title">お支払い方法</div><div class="title">配送方法・送料について</div><div class="title">出品に関する規約</div><div class="title">プライバシーポリシー</div>
        </div>
Copyright (C)goodlifestandard All Rights Reserved.